.todolist-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.todoItem span {
  display: inline-block;
  margin-right: auto;
  padding-left: 9px;
  line-height: 100%;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 7px 0px;
  position: relative;
}

.todoItem * {
  display: inline-block;
  max-height: 20px;
}

.todoItem.completed {
  opacity: 0.3;
  text-decoration-line: line-through;
}
